{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'passport/images/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="{% static 'passport/css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'passport/css/confirm_code.css' %}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-5 col-md-7 mx-auto my-auto">
                <div class="card">
                    <div class="card-body px-lg-5 py-lg-5 text-center">
                        <img src="{% static 'passport/images/fa.png' %}" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
                        <h2 class="text-info">Двухэтапная аутентификация</h2>
                        <p class="mb-4">Введите код, который вам пришел на почтовый ящик</p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row mb-4">
                                <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                    <input type="text" name="t1" id="t1" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                                </div>
                                <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                    <input type="text" name="t2" id="t2" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                                </div>
                                <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                    <input type="text" name="t3" id="t3" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                                </div>
                                <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                    <input type="text" name="t4" id="t4" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                                </div>
                                <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                    <input type="text" name="t5" id="t5" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                                </div>
                                <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                    <input type="text" name="t6" id="t6" class="form-control text-lg text-center" placeholder="_" aria-label="2fa">
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn bg-info btn-lg my-4">Перейти в личный кабинет</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{#    <form method="post">#}
{#        {% csrf_token %}#}
{#        <label for="token">Введите одноразовый токен:</label><br>#}
{#        <input type="text" id="token" name="token" required><br><br>#}
{#        <button type="submit">Войти</button>#}
{#    </form>#}
</body>
</html>