{#{% load socialaccount %}#}
{#{% load social_django %}#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Опа, регистрация некоторого рода</h1>
    {% if user.is_authenticated %}
        <p>Ку, {{ user.username }} !</p>
    {% else %}
        <a href="{% url 'social:begin' 'google-oauth2' %}?next={% url 'add_personal_data' %}">Авторизоваться через Google</a>
        <a href="{% url 'social:begin' 'vk-oauth2' %}?next={% url 'add_personal_data' %}">Авторизоваться через VK</a>
        <a href="{% url 'social:begin' 'yandex-oauth2' %}?next={% url 'add_personal_data' %}">Авторизоваться через Yandex</a>
    {% endif %}
</body>
</html>